@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}



.main .main_img a{ 
    display: block;
    /* border: 1px solid blue; */
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 400px;
    position:relative;
}


.main .main_img a .main_1{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
}

.main .main_img a .main_2{
    position: absolute;
    width: 10%;
    top: 385px;
    left: 50%;
    transform: translateX(-55%);
    animation: eyes 1.3s;
    animation-iteration-count: infinite;
}

.main .main_img a .main_3{
    position: absolute;
    width: 120%;
    text-align: center;
    position: absolute;
    left: 50%; transform: translateX(-50.8%);
    top: -93px;
    opacity: 0;
    transition: opacity .8s;
}


.main .main_img a:hover > .main_3 {
    opacity: 1;
}


@keyframes eyes{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.bag_img{
    position: fixed;
    display: block;
    background: url(../img/semo.svg) no-repeat;
    width: 200px;
    height: 200px;
    left: 130px;
    top: 320px;
    z-index: -1;
    animation-name: bag;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* transition: all 1s; */
}

@keyframes bag{
    0%{ transform: rotate(0);}
    100%{
        transform: rotate(360deg);
    }
}

.bag_img2{
    position: fixed;
    display: block;
    background: url(../img/semo.svg) no-repeat;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 1000px;
    z-index: -2;
    animation-name: bag;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.bag_img3{
    opacity: .5;
    position: fixed;
    width: 400px;
    height: 400px;
    top: -10px;
    border-radius: 400px;
    /* background: linear-gradient(to left, #FFE996, #CCFFFF); */
    background: radial-gradient(at 30%,#FFE996, #CCFFFF);
    z-index: -2;
    animation-name: bag2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bag2{
    100%{
        transform: rotate(1turn);
    }
}

.bag_img4{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 300px;
    right: -10px;
    border-radius: 50px;
    opacity: .3;
    background: linear-gradient(to right, #01c9ca, #FFE900);
    z-index: -2;
    animation-name: bag2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bag2{
    100%{
    transform: rotate(1turn);
    }
}

.bag_img5{
    position: fixed;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 45px;
    z-index: -1;
    top: 302.5px;
    right: -8.5px;
}

/* .bag_img6{
    position: fixed;
    width: 45px;
    height: 45px;
    background: #01c9ca;
    border-radius: 45px;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: all 1s;
}

.bag_img6:hover{
    animation: horol;
    animation-duration: .8s;
    animation-iteration-count: infinite; */


@keyframes horol{
    0%{}
    50%{top: 10px;}
    100%{top: 20px;}
}

.portfolio{
    /* display: block; */
    /* border: 1px solid red; */
    text-align: center;
}

.title1{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 530px 0 0 0px;
}

.port_all{
    width: 90%;
    height: 1300px;
    background: #eee;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 30px auto 90px auto;
    text-align: center;
    /* vertical-align: top; */
}

.port_all h2, .port_all p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
}

.port_all h2{
    color: #444;
    margin: 10px 0 0 20px;
    font-size: 15px;
}

.port_all p{
    /* color: #aaa; */
    color: rgb(78, 104, 255);
    margin: 25px 0 0 20px;
    font-weight: 500; 
}

.port_all a{
    text-decoration: none;
}

.port_all a:hover img{
    /* filter: brightness(60%); */
    /* filter: contrast(20%); */
    filter:opacity(.6);
    transition: all .5s;
}

.port_first a{
    display: inline-block;
    width: 320px;
    height: 330px;
    border-radius: 10px;
    background: white;
    margin-top: 70px;
    box-shadow: 5px 5px 15px 5px #ddd;
    vertical-align: top;
}



.port_first a:nth-child(1), .port_first a:nth-child(2){
    margin-right: 25px;
}


.f01_img{
    overflow: hidden;
    width: 280px;
    height: 190px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* background-size: 200px; */
    /* background: url(../img/Business-Signage-Mockup.png); */
}

.f01_img img{
    width: 120%;
    transform: translate(-40px, -20px);
}


.f02_img{
    overflow: hidden;
    width: 280px;
    height: 190px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* background-size: 200px; */
    /* background: url(../img/Business-Signage-Mockup.png); */
}

.f02_img img{
    width: 120%;
    transform: translate(-35px, -20px);
}


.f03_img{
    overflow: hidden;
    width: 280px;
    height: 190px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* background-size: 200px; */
    /* background: url(../img/Business-Signage-Mockup.png); */
}

.f03_img img{
    width: 130%;
    transform: translate(-15px, -30px);
}


.f04_img{
    overflow: hidden;
    width: 280px;
    height: 190px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* background-size: 200px; */
    /* background: url(../img/Business-Signage-Mockup.png); */
}

.f04_img img{
    width: 140%;
    transform: translate(-15px, -30px);
}

.f05_img{
    overflow: hidden;
    width: 280px;
    height: 190px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* background-size: 200px; */
    /* background: url(../img/Business-Signage-Mockup.png); */
}

.f05_img img{
    width: 140%;
    transform: translate(-15px, -5px);
}


.f06_img{
    overflow: hidden;
    width: 280px;
    height: 190px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* background-size: 200px; */
    /* background: url(../img/Business-Signage-Mockup.png); */
}

.f06_img img{
    width: 110%;
    transform: translate(-15px, 0px);
}

.f07_img{
    overflow: hidden;
    width: 280px;
    height: 190px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* background-size: 200px; */
    /* background: url(../img/Business-Signage-Mockup.png); */
}

.f07_img img{
    width: 110%;
    transform: translate(-15px, 0px);
}

/* 첫째줄 */


.port_second a{
    display: inline-block;
    width: 320px;
    height: 330px;
    border-radius: 10px;
    background: white;
    margin-top: 70px;
    box-shadow: 5px 5px 15px 5px #ddd;
    vertical-align: top;
}

.port_second a:nth-child(1), .port_second a:nth-child(2){
    margin-right: 25px;
}


.port_third a{
    display: inline-block;
    width: 320px;
    height: 330px;
    border-radius: 10px;
    background: white;
    margin-top: 70px;
    box-shadow: 5px 5px 15px 5px #ddd;
    vertical-align: top;
}


